@charset "utf-8";

/* S=顶部黑色标题 */
.container{
  height: 100%;
}
.top{
  width: 100%;
  position: fixed;
  z-index: 5;
}

.title_area{
  width: 100%;
  height: 1.173333rem;
  background-color: #3A3D40;
}
.form-title{
  position: fixed;
  top:0;
  z-index: 10
}
.backArr{
  position: relative;
}

.backArr > img{
  position: absolute;
  left: 0.4rem;
  top: 0.266667rem;
}

.title{
  line-height: 1.173333rem;
  margin:0 auto;
  color: #FFF;
  text-align: center;
  font-size: 17px;
  font-family: PingFangSC-Medium;
  font-weight: 600;
}
/* E=顶部黑色标题 */



/* S=二级导航按钮区 */
.second{
  height: 0.8rem;
  padding: 0.32rem 0;
  background: #F7F7F7;
  border-bottom: 1px solid #DEDEDE;
}

.second ul{
  width: 8rem;
  height: 0.8rem;
  margin: 0 auto;
  background-color: #FFF;
}

.second ul li{
  float: left;
  width: 33%;
  height: 0.746667rem;
  line-height: 0.85rem;
  text-align: center;
  font-family: .PingFangSC-Regular;
  font-size: 13px;
  letter-spacing: 0.013333rem;
}
.hit{
  background-color: #175499;
  color: #FFF;
}

.second ul li:first-child{
  border: 1px solid #175499;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.second ul li:nth-child(2){
  border-top: 1px solid #337AB7;
  border-bottom: 1px solid #337AB7;
}
.second ul li:last-child{
  width: 32%;
  border: 1px solid #337AB7;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* E=二级导航按钮区 */


/* S=稿纸页面 */
.paper{
  display: none;
  background: #FFF;
  padding-top: 2.64rem;
}

.fname{
  padding: 0.7rem;
  font-size: 18px;
  color: #333333;
  font-weight: bold;
  border-bottom: 0.133333rem solid #F7F7F7;
  text-align: center;
}
.content{
  width: 100%;
  margin-bottom:1.333333rem;
  box-sizing: border-box;
  padding-left: 0.4rem;
}

.content ul{
  width: 100%;
  height: 100%;
  overflow: auto;
}

.content ul li{
  min-height: 0.56rem;
  display: flex;
  line-height: 0.56rem;
  padding: 0.386667rem 0.4rem 0.386667rem 0;
  border-bottom: 1px solid #EEE;
}

.content > ul > li > p{
  width: 50%;
  font-size: 15px;
  color: #666666;
}

.content > ul > li > p:last-child{
  color: #333333;
  padding-left: 0.5rem;
}

/** pc端表单方案 已废弃
.arg-text{
  padding: 5px 0 5px 5px;
  border-radius: 4px;
  outline: none;
  border:1px solid #DDDDDD;
}
.deal{
  position: relative;
}
.deal:after{
  content: "";
  width: 14px;
  height: 14px;
  color:#F7F7F7;
  border-left: 2px solid #c2c2c2;
  border-bottom: 2px solid #c2c2c2;
  -webkit-transform: translate(0, -50%) rotate(-135deg);
  transform: translate(0, -50%) rotate(-135deg);
  position:absolute;
  right:1.2rem;
  top:0.3rem
}
.arg-date{
  border-radius: 4px;
  border:1px solid #DDDDDD;
  box-sizing: border-box;
  padding: 5px 0 5px 5px;
}
**/

.btns{
  position: fixed;
  width: 100%;
  height: 1.333333rem;
  overflow: hidden;
  bottom:0;
  font-size: 0;
  z-index: 10;
}

.btns button{
  height: 1.333333rem;
  float: left;
  border:none;
  outline:none;
  background-color: #337AB7;
  font-size: 16px;
  color: #FFFFFF;
}

.btns >button:first-child{
  float:left;
  color:#FFF;
  background-color: #175499;
}
.btns >button:first-child +button{
  background-color: #4a9be8;
}
.btns >button:last-child{
  float:right;
  color:#FFF;
  background-color: #175499;
}

.btns >button:first-child:active{
  background-color: #2a73c5;
}

.btns >button:first-child +button:active{
  background-color: #6ba6df;
}

.btns >button:last-child:active{
  background-color: #2a73c5;
}

.divide{
  width: 1%;
  height: 0.8rem;
  display: inline-block;
  background-color: #FFF;
}

/* 弹出的意见框 */
.black_overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(204, 204, 204, 0.8);
  z-index: 99;
  /* 改用rgba
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);*/
}

.white_content {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  min-height: 25%;
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 100;
}

.argsform{
  padding-left: 0.266667rem;
  padding-right: 0.266667rem;
  margin-bottom: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.argsul{
  padding-top: 0.5rem;
  /*padding-bottom: 0.8rem;*/
  padding-bottom: 1.8rem;
}

.argsul li{
  margin-top: 0.5rem;
}

.argsul li p{
  font-size: 13px;
  color: #666666;
}

.argsul li input{
  margin-top: 0.266667rem;
  width: 60%;
  height: 1rem;
}

.argli textarea{
  border: 1px solid #DDDDDD;
  border-radius:4px;
  background-color: #FFFFFF;
  font-size: 15px;
  color:#333333;
  margin-top: 0.266667rem;
  width: 80%;
  height: 1.2rem;
  line-height: 1.2rem;
  box-sizing: border-box;
  padding-left: 0.4rem;
  outline: none;
}

/*日期选择*/
.pick-date{
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius:4px;
  font-size: 15px;
  padding-left: 0.3rem;
}

.dealerli div{
  width: 70%;
  height: 1rem;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius:4px;
  box-sizing: border-box;
  padding-top: 0.2rem;
  margin-top: 0.266667rem;
}

.dealerli div span{
  font-size: 15px;
  color: #DDD;
  margin-left: 0.5rem;
}

.dealerli div img{
  margin-left: 0.3rem;
}

/*单选引入的uap样式*/
.um-check-group {
  position: relative;
  overflow: hidden;
  margin: 10px 0 0;
  color: #00a1ea;
  width: 50%;
  float:right;
}

.um-check-group-left .um-check-group-item {
  padding-left: 40px;
}

.um-check-group-item {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /*background-color: #fff;*/
  padding: 9px 12px;
  transition-duration: 200ms;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
}
.um-check-group-item * {
  pointer-events: none;
}
.um-check-group-item input[type=radio],.um-check-group-item input[type=checkbox] {
  display: none;
  pointer-events: none;
}
.um-check-group-left .um-check-group-item:after {
  left: 40px;
}
.um-check-group-item:after {
  left: 12px;
  bottom: 0;
}
.um-check-group-item:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  z-index: 2;
  /*-webkit-border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiPnH8zH/G////MzAxAAHTyRNn/wMEGABpvQm9g9TJ1QAAAABJRU5ErkJggg==") 2 0 stretch;
  border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiPnH8zH/G////MzAxAAHTyRNn/wMEGABpvQm9g9TJ1QAAAABJRU5ErkJggg==") 2 0 stretch;
  border-width: 0 0 1px 0;*/
}
.um-black{
  color: #000;
  font-size: 16px;
}
input[type="radio"]:checked ~ .um-icon-ISO:before,input[type="checkbox"]:checked ~ .um-icon-ISO:before{
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color:#337ab7;
  position: absolute;
  border-radius:4px;
  top: 6px;
  z-index: 23;
  left: 7px;
}
/*圆形单选框*/
.um-check-group-left .um-check-group-item input[type="radio"] ~ .um-icon-ISO,
.um-check-group-left .um-check-group-item input[type="checkbox"] ~ .um-icon-ISO{
  left: 10px;
  display: block;
}
.um-icon-ISO {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #c7c7c7;
}

.um-vc-ISO {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}



/*弹框的两个按钮*/
.argsbtn {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #DDD;
}
.argsbtn button{
  width:50%;
  height: 1.066667rem;
  background-color:#FFF;
  float: right;
  outline:none;
  border:none;
  font-size:15px;
  font-family:PingFangSC-Regular;
}

.argsbtn button:last-child{
  border-right: 1px solid #DDDDDD;
}

.confirm{
  color: #337AB7;
}

.cancel{

}
/* E=稿纸页面 */


/* S=附件页面*/
.attachments{
  width: 100%;
  background: #F7F7F7;
  padding-top: 2.64rem;
  display: none;
}

.files{
  width: 100%;
  background-color: #FFF;
  box-sizing: border-box;
}

.fileList{
  width: 100%;
}

.fileType{
  height: 1rem;
  line-height: 1rem;
  background-color: #F7F7F7;
  padding-left: 0.4rem;
  font-size: 15px;
}

.fileList li{
  /* vue之前样式
  height: 1.333333rem;
  line-height: 1.333333rem;
  padding-left: 0.3rem;
  border-bottom: 1px solid #EEE;
  */
  border-bottom: 1px solid #EEE;
  box-sizing: border-box;
  font-size: 15px;
  color: #333333;
}
.outer-box{
  /*padding-left: 0.3rem;
  height: 1.333333rem;
  line-height: 1.333333rem;*/
  font-size: 15px;
  color: #333333;
}
.file-content{
  display: flex;
  justify-content: center;
  align-items: center;
}
.file-icon{
  display: inline-block;
}
.file-icon > img{
  margin-right: 0.266667rem;
}
.file-title{
  width: 80%;
  display: inline-block;
  padding-bottom: 13px;
  padding-top: 13px;
  min-height: 24px;
}
.file-title > span{
  line-height: 20px;
  word-break: break-all;
}
/* E=附件页面*/



/* S=流转明细页面*/
.details{
  display: none;
  padding-top: 2.64rem;
}
#detailsList{
  padding-bottom: 1.5rem;
}
.mingxi-title {
  height:0.933333rem;
  line-height:0.933333rem;
  padding-left:0.4rem;
  background: #F7F7F7;
  font-size: 14px;
  color: #666666
}
.mingxi-content{
  height:2.666667rem;
  background: #FFFFFF;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
.mingxi-content-left{
  position:relative;
  top:0;
  left:0;
  float: left;
}
.mingxi-content-img{
  width: 0.853333rem;
  height: 0.853333rem;
  position:absolute;
  top:0.906667rem;
  left:0.4rem;
}
.mingxi-content-middle{
  width: 6.2rem;
  margin-left:1.626667rem;
  padding-top:0.373333rem;
  float: left;
}
.mingxi-content-head{
  font-size: 17px;
  color: #333333;
}
.mingxi-content-time{
  font-size: 14px;
  color: #999999;
  line-height: 22px;
}
.mingxi-content-right{
  position:relative;
  top:0;
  right:0;
  float: right;
}
.unreceive{
  border: 1px solid #D9534F;
  color: #D9534F;
}
.handing{
  border: 1px solid #F6A623;
  color: #F6A623;
}
.mingxi-content-status{
  width: 1.44rem;
  height: 0.586667rem;
  line-height: 0.586667rem;
  text-align:center;
  background: #FFFFFF;
  border-radius: 100px;
  position:absolute;
  right:0.373333rem;
  top:1.04rem;
  font-size: 12px;
}

.mingxi-content-finished{
  position: absolute;
  right: 0.88rem;
  top: 1rem;
}
/* E=流转明细页面*/


/* S=表单输入项 */
.forms{
  display: none;
  /*padding-top: 1rem;
  margin-bottom: 2rem;*/
}
.forms > form{
  overflow: auto;
} 
/* S = 部门发文 */
.model-473{
}
.top-group{
  border-bottom: 0.1rem solid #F7F7F7;
}
.select-row{
  position: relative;
  width: 100%;
  height: 1.34rem;
  border-bottom: 1px solid #EEEEEE;
}
.select-row p{
  line-height: 1.34rem;
  font-size: 15px;
  color: #666666;
}
.select-row p:last-child{
  padding-right: 0.83rem;
  color: #333333;
}
.selecter{
  border: none;
  color: #333333;
  font-size: 15px;
  position: absolute;
  right: 0.6rem;
  height: 1.34rem;
  line-height: 1.34rem;
  -webkit-appearance: none;
  outline: none;
  background-color: #FFF;
}

.nedd-sign{
  background-color: #F9F9F9;
  width: 100%;
  height: 1.6rem;
}

.header{
  background: #F9F9F9;
  padding-bottom: 75px;
}
.text-input{
  width: 100%;
  height: 2.5rem;
  box-sizing: border-box;
  padding-left: 0.4rem;
}
.input-name{
  font-size: 13px;
  color: #666666;
  padding-top: 0.4rem; 
  padding-bottom: 0.4rem;
}
.scanner{
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  font-size: 16px;
  width: 90%;
  height: 1.333333rem;
  line-height: 1.333333rem;
  padding-left: 0.3rem;
}
.meeting-depts{
  margin-top: 1.173333rem;
}
.depts{
  background: #FFF;
}
.dept-row{
  height: 1.6rem;
  border-bottom: 1px solid #EEEEEE;
  position: relative;
}
.dept-row > p{
  padding-top: 0.3rem;
  padding-bottom: 0.134rem;
  font-size: 15px;
  color: #333333;
}
.dept-row > span{
  font-size: 12px;
  color: #999999;
}
.meet-check{
  display: none;
}
.check-box{
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #FFF;
  border: 1px solid #ccc;
  position: absolute;
  right: 20px;
  top: 20px;
  -webkit-tap-highlight-color:transparent;
}

.dept-row input[type=checkbox]:checked + .check-box{
  border-color: #337AB7;
}
.dept-row input[type=checkbox]:checked + .check-box > .allright{
  position: absolute;
  top:5px;
  left:4px;
  width: 12px;
  height: 6px;
  border-left: 1px solid #337AB7;
  border-bottom: 1px solid #337AB7;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.scroll-input{
  -webkit-tap-highlight-color:transparent;
  border: none;
  font-size: 15px;
  line-height: 1.34rem;
  padding-left: 25%;
  float: right;
  width: 25%;
}
.scroll-input:disabled{
  background-color: transparent;
}
.left-space{
  padding-left: 0.4rem;
}
.bb{
  box-sizing: border-box;
}
.arrow-img{
  position: absolute;
  right: 0.32rem;
  top: 0.48rem;
}
.arrow{
  position: relative;
}
.arrow:after{
  content: "";
  width: 18px;
  height: 18px;
  color:#F7F7F7;
  border-left: 2px solid #c2c2c2;
  border-bottom: 2px solid #c2c2c2;
  -webkit-transform: translate(0, -50%) rotate(-135deg);
  transform: translate(0, -50%) rotate(-135deg);
  position:absolute;
  top : 0.65rem;
}
/* E = 部门发文 */

/* S = 部门发文 废弃
#mt4373{
  background-color: #FFF;
  padding-left: 0.4rem;
  border: 1px solid #DDD;
  border-radius: 4px;
  margin: 0 0.3rem;
  height: 14rem;
  margin-top: 0.5rem;
}
#mt4373 > div{
  padding-top: 0.2rem;
  height: 0.8rem;
}
#mt4373 > div > p{
  font-size: 15px;
  color: #666;
}
#mt4373 > div p:last-child {
  padding-right: 1.8rem;
}
.rightSpace{
   margin-right: 1.8rem;
}

.scan{
  outline: none;
  width: 30%;
  height: 80%;
  border:1px solid #DDD;
  border-radius: 3px;
}
.isSign{
  width: 70%;
  margin-right: 1rem;
}
.singlePick{
  width: 55%;
}
.singlePick > label{
  display: inline-block;
  font-size: 15px;
  color: #666;
}

 E = 部门发文 */

/* E=表单输入项 */